# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
.pytest_cache/
.mypy_cache/

# Pants
/.pants.d/
/dist/
.pants.bootstrap
pants.requirements.pex
.pids/

# OS-specific
.DS_Store

output_data
output_json
**/data/curated/
**/data/_delta_log/

# Jupyter Notebooks
.ipynb_checkpoints/

# Spark / Database temporary files & checkpoints
checkpoints/
**/checkpoints/
*_checkpoint/
**/*_checkpoint/
checkpoint/
**/checkpoint/
metastore_db/
derby.log
spark-warehouse/
# dbt & Database temporary files
*.duckdb
*.duckdb.wal
**/target/
**/dbt_packages/
dbt_packages/
projects/transformation/dbt/target/
projects/transformation/dbt/dbt_packages/
projects/transformation/dbt/logs/
projects/transformation/dbt/.user.yml
projects/realtime/ecommerce/batch_layer/target/
projects/realtime/ecommerce/batch_layer/dbt_packages/
projects/realtime/ecommerce/batch_layer/logs/
projects/realtime/ecommerce/batch_layer/.user.yml
.user.yml
logs/

# Data Quality output files
projects/quality/output/
**/great_expectations/uncommitted/
